{
  "globals": {
    "fetch": true,
    "document": true,
    "FormData": true,
    "window": true,
    "__dirname": true,
    "module": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 12,
    "ecmaFeatures": {
      "jsx": true,
      // TODO resolve errors and remove
      "legacyDecorators": true
    },
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "plugins": ["react", "prettier"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "prettier/prettier": ["error"],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ],
    // TODO resolve errors and enable
    "react/prop-types": "off",
    // TODO resolve errors and enable
    "react/display-name": "off",
    // TODO resolve errors and enable
    "react/no-array-index-key": "warn"
  }
}
