body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    border: 3px solid #f1f1f1;
}

Button {
    height: 45px;
}

Form {
    width: 100%;
}

input[type='text'],
input[type='password'],
input[type='date'] {
    width: 100%;
    height: 47px;
    color: darkgreen;
    font-family: Helvetica, sans-serif;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: darkgreen;
    margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    darkgreen;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    darkgreen;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    darkgreen;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    darkgreen;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:    darkgreen;
}

::placeholder { /* Most modern browsers support this now. */
    color:    darkgreen;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) and (min-width: 200px) {
    span.psw {
        display: block;
        float: none;
    }
}

.ml-auto, .personal-info, .passport-info {
    display: flex;
}

input[type='radio'],
label {
    cursor: pointer;
}

input[type='radio'] {
    position: relative;
    height: 10px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

input[type='radio']::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #4caf50;
}

input[type='radio']:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4caf50;
    transform: translate(-50%, -50%);
    visibility: visible;
}
