@media all and (min-width: 300px) {
    /*Search*/
    .Search {
        padding: 100px 0;
    }

    /*Login*/
    .Login {
        padding: 160px 0;
    }

    .Login form {
        margin: 0 auto;
        width: 350px;
        background-color: rgba(210, 210, 229, 0.16);
        border-radius: 10px;
        padding: 20px;
    }

    .Login button {
        width: 100%;
    }

    .Login h2 {
        text-align: center;
    }

    .Login .Form {

    }

    .Login a {
        text-align: center;
        padding-top: 10px;
        margin: 0;
    }

    /*Register*/
    .Register {
        padding: 100px 0;
    }

    .Register h2 {
        text-align: center;
    }

    .Register .form, .unit-form, .button-form {
        margin: 0 auto;
        width: 80%;
        padding: 20px;
    }

    .Register .form, .unit-form {
        background-color: rgba(210, 210, 229, 0.16);
        border-radius: 10px;
    }

    .Register button {
        width: 100%;
    }

    /*Account*/
    .Account {
        padding: 100px 0;
    }

    .Account h2, h3 {
        text-align: center;
        padding: 10px;
    }

    .Account form {
        margin: 0 auto;
        width: 80%;
        background-color: rgba(210, 210, 229, 0.16);
        border-radius: 10px;
        padding: 20px;
    }

    .Account button {
        float: right;
    }

    .Account .edit {
        padding-top: 40%;
    }

    .TicketCard .cardWrap {
        color: #fff;
        font-family: sans-serif;
        padding: 10px 10px 10px 70px;
    }

    .TicketCard .card {
        background: linear-gradient(to bottom, #306fa7 0%, #007bff 25%, #ecedef 25%, #ecedef 100%);
        float: left;
        position: relative;
        padding: 15px;
        height: 100%;
    }

    .TicketCard .cardLeft {
        width: 70%;
        height: 200px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .TicketCard .cardRight {
        width: 20%;
        height: 200px;
        border-left: .18em dashed #fff;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .TicketCard .cardRight:before, .TicketCard .cardRight:after {
        content: "";
        position: absolute;
        display: block;
        width: .9em;
        height: .9em;
        background: #fff;
        border-radius: 50%;
        left: -.5em;
    }

    .TicketCard .cardRight:before {
        top: -.4em;
    }

    .TicketCard .cardRight:after {
        bottom: -.4em;
    }

    .TicketCard .card-table th {
        background: #ecedef;
        color: #a2aeae;
    }

    .TicketCard h1 {
        font-size: 25px;
        font-weight: bold;
        margin-top: 0;
    }


    .TicketCard .departure, .destination {
        text-transform: uppercase;
        font-weight: normal;
        margin: 2em 0 0 0;
    }

    .TicketCard .departure h2, .destination h2 {
        font-size: 1.1em;
        color: #110101;
        margin: 0;
    }

    .TicketCard .departure span, .destination span {
        font-size: 1em;
        color: rgba(17, 1, 1, 0.82);
    }

    .TicketCard .price {
        text-align: center;
    }

    .TicketCard .price h3 {
        color: #306fa7;
        font-weight: bold;
        margin: .9em 0 0 0;
        font-size: 2.5em;

    }

    .TicketCard .price span {
        display: block;
        color: #a2aeae;
    }

}
